<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.akpuri.capstone" >

    <uses-permission android:name="com.parse.anywall.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="edu.washington.akpuri.capstone.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="edu.washington.akpuri.capstone.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Google maps stuff -->


    <permission android:name="edu.washington.akpuri.capstone.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!--
     The following permission is not required to use
     Google Maps Android API v2, but is recommended.
    -->


    <!-- For PUSH NOTIFICATIONS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="edu.washington.akpuri.capstone.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAVgP_BqXlPUcm3c8C2S10eU66bznDIvPg"/>
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="edu.washington.akpuri.capstone" />
            </intent-filter>
        </receiver>
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".DispatchActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity2"
            android:label="@string/app_name" />
        <activity
            android:name=".ResetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Contacts"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SafetyZonePage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddFriends"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AppNumberBlocking"
            android:label="@string/title_activity_app_blocking" >
        </activity>
        <activity
            android:name=".BlockContacts"
            android:label="@string/title_activity_block_contacts" >
        </activity>
        <activity
            android:name=".QuickText"
            android:label="@string/title_activity_quick_text" >
        </activity>
        <activity
            android:name=".EditDefaultSettings"
            android:label="@string/title_activity_edit_default_settings" >
        </activity>
        <activity
            android:name=".EditBlockedContactsList"
            android:label="@string/title_activity_edit_blocked_contacts_list" >
        </activity>
        <activity
            android:name=".StartNightOutSettingConfirmation"
            android:label="@string/title_activity_start_night_out">
        </activity>
        <activity
            android:name=".NightOutSafetyZones"
            android:label="@string/title_activity_night_out_safety_zones" >
        </activity>
        <activity
            android:name=".NightOutQuickTexts"
            android:label="@string/title_activity_night_out_quick_texts" >
        </activity>
        <activity
            android:name=".NightOutAppNumberBlocking"
            android:label="@string/title_activity_night_out_app_number_blocking" >
        </activity>
        <activity
            android:name=".NightOutEditBlockedContactsList"
            android:label="@string/title_activity_night_out_edit_blocked_contacts_list" >
        </activity>
        <activity
            android:name=".NightOutBlockContacts"
            android:label="@string/title_activity_night_out_block_contacts" >
        </activity>
        <activity
            android:name=".MainMap"
            android:label="@string/title_activity_main_map"
            android:noHistory="true">
        </activity>

        <!-- For push notifications -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="edu.washington.akpuri.capstone" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
